@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

body{
    background-color: #4169E1;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 18px 20px;
}

.header{
    height: 120px;
    background: none;
    user-select: none;
}

.header_logo{
    pointer-events: none;
    user-select: none;
}
.transition-index{
    transition: 120ms;
}
.transition-index:hover{
   transform: scale(1.03);
}

.header__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.header_ul > li{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 18px;
    transition: all .3s ease-out;
    height: 20px;
    position: relative;
}

.header_ul > li::after {
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translate(-100%, 0%);
    transition: all .3s ease-out;
    opacity: 0;
}

.header_ul > li:hover::after {
    width: calc(100% + 14px);
    transform: translate(-50%, 0%);
    opacity: 1;
}

.menu {
    display: none;
}

.header-bmenu{
    display: none;
}

a{
    display: flex;
    column-gap: 5px;
}

a > .footer-text{
    font-family: 'Roboto', sans-serif;
}

.section-select{
    margin: 0 auto;
    width: 100%;
}

.section-select > div{
    padding: 18px 20px 0px 20px;
}
.categories{
    background-color: white;
    max-width: 100%;
    height: 630px;
    border-radius: 15px 15px 0px 0px;
    padding: 35px 30px;
    display: flex;
    justify-content: space-between;
}

.quiz-types{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    transition: 120ms;
}

.quiz-types-img{
    background: url(../media/categories-media/not_choosen.jpg);
    max-width: 810px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2%;
    object-fit: none;
    user-select: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 120ms;
}

.wrapper-btn{
    display: flex;
    justify-content: center;
    max-width: 375px;
    width: 100%;
    padding: 20px 20px;
}

.quiz-types-img-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 50px;
    max-width: 250px;
    width: 100%;
    height: 65px;
    background-color: #4169E1;
    border:white 3px solid;
    box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.2);
    transition: 120ms;
}
.quiz-types-img-btn:hover{
    background-color: #4169e1dd;
}


.quiz-types-img-btn > div > h3{
    color: rgb(255, 255, 255);
    font-family: 'Rubik Mono One', sans-serif;
    user-select: none;
    max-width: 100%;
    font-size:20px;
    text-align: center;
}

.wrapper{
    width: 100%;
    padding: 0px 0px 0px 20px;
    display: flex;
}

.quiz-types-title{
    color: black;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
    user-select: none;
}

.quiz-types-line{
    background: black;
    width: 270px;
    height: 1px;
    margin-bottom: 15px;
}

.quiz-type-title{
    color: black;
}

.quiz-type-icon{
    width: 45px;
    height: 45px;
}

.quiz-type{
    user-select: none;
    display: flex;
    align-items: center;
    background-color: rgb(214, 214, 214);
    height: 50px;
    width: 270px;
    border-radius: 40px;
    justify-content: space-between;
    padding: 20px 20px;
    transition: 120ms;
}


.quiz-type:hover{
    cursor: pointer;
    background-color: rgb(179, 179, 179);
}

.quiz-type-title{
    font-family: 'Roboto';
}

.wrapper > img{
    display: none;
}

@media (max-width: 767.98px){
    .menu {
        width: 400px;
        display: flex;
        justify-content: flex-end;
    }
    
    .header-bmenu{
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 99;
        zoom: 0.78;   
    }

    .header_logo{
        zoom: 0.78;
    }

    .header_ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 30px;
        width: 320px;
        height: calc(100vh - 120px);
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0;
        background: #fff;
        padding: 60px 0px 0px 70px;
        transform: translateX(100%);
        transition: all .3s ease-out;
        z-index: 99;
    }
    .header_ul::before {
        content: "";
        width: 100%;
        height: 120px;
        background: #fff;
        position: absolute;
        top: -120px;
        right: 0;
        border-top-left-radius: 90px;
    }
    .header_ul.active{
        transform: translateX(0%);
    }
    .header_ul > li {
        color: #000;
        margin-bottom: 15px;
    }
    .header_ul > li::after {
        display: none;
    }
    .li-stats {
        margin: 0;
    }
    a {
        color: #000;
    }
}

@media (max-width: 663px){
    .quiz-types-img-btn > div > h3{
        font-size:17px;
    }
    
}

@media (max-width: 600px){
     .quiz-types-img{
        display: none;
    }  

     .wrapper{
        display: none;
    }  
    .quiz-type{
        position: relative;
    }
    .categories{
        display: flex;
        justify-content: center;
        border-radius:15px 15px 15px 15px;
    }
    
    .quiz-types{
        align-items: center;
    }
    .we_img{
        width: 100px;
        height: 100px;
        display: none;
    }
    .section3_cards{
        display: none;
    }
}
