@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

body{
    display: none;
    background-color: #4169E1;
    background-image: url(../media/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 18px 20px;
}
.header{
    height: 105px;
    background: none;
    user-select: none;
}

.header_logo{
    pointer-events: none;
    user-select: none;
}
.transition-index{
    transition: 0.4s;
}
.transition-index:hover{
   transform: scale(1.03);
}
.transition-index{
    transition: 0.4s;
}
.transition-index:hover{
   transform: scale(1.03);
}
.header__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.header_ul > li{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 18px;
    transition: all .3s ease-out;
    height: 20px;
    position: relative;
}

.header_ul > li::after {
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translate(-100%, 0%);
    transition: all .3s ease-out;
    opacity: 0;
}

.header_ul > li:hover::after {
    width: calc(100% + 14px);
    transform: translate(-50%, 0%);
    opacity: 1;
}
.menu {
    display: none;
}

.header-bmenu{
    display: none;
}

a{
    display: flex;
    column-gap: 5px;
}

a > .footer-text{
    font-family: 'Roboto', sans-serif;
}

.statistics{
    width: 100%;
}
.statistics__container{
    margin-top:135px;
}
.statistics__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
}
.statistics-item{
    display: flex;
    align-items: center;
    column-gap: 3%;
    width: 100%;
    max-width: 900px;
}
.statistics-item__block{
    display: flex;
    align-items: center;
    column-gap: 2%;
    max-width: 700px;
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 25px 17px;
    position: relative;
    z-index:5;
}
.statistics-item__score{
    position: absolute;
    left: 0;
    z-index: 0;

}
.statistics-item__block img{
    position: relative;
    width: 55px;
    height: 55px;
    z-index: 99;
}
.statistics-item__block h3{
    position: relative;
    z-index: 99;
}
.score{
    width: 0%;
    height: 100px;
    background: #7A8FFF;
    border-radius: 5px;
    transition: 2.5s;
}
.statistics-item__block > h3 {
    color: black;
    font-family: 'Roboto', sans-serif;
}
.statistics-item__title{
    font-family: 'Rubik Mono One';
    margin-left: 40px;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 0.06em;
    width: 40px;
    color: #FFFFFF;
}
.statistics__result{
     margin: 70px 0 0 0; 
}
.result{
    width: 100%;
    max-width:700px;
    height: 218px;
    background: #FFFFFF;
    border-radius: 5px;
    padding:43px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.statistics__result h3 {
    font-family: 'Rubik Mono One';
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.06em;
    color: #000000;
}
.statistic__score {
    font-family: 'Rubik Mono One';
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    letter-spacing: 0.06em;
    color: #000000;
}

@media (max-width: 767.98px){
    .menu {
        width: 400px;
        display: flex;
        justify-content: flex-end;
    }
    .header-bmenu{
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 99;
        zoom: 0.78;   
    }

    .header_logo{
        zoom: 0.78;
    }

    .header_ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 30px;
        width: 320px;
        height: calc(100vh - 120px);
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0;
        background: #fff;
        padding: 60px 0px 0px 70px;
        transform: translateX(100%);
        transition: all .3s ease-out;
        z-index: 99;
    }
    .header_ul::before {
        content: "";
        width: 100%;
        height: 120px;
        background: #fff;
        position: absolute;
        top: -120px;
        right: 0;
        border-top-left-radius: 90px;
    }
    .header_ul.active{
        transform: translateX(0%);
    }
    .header_ul > li {
        color: #000;
        margin-bottom: 15px;
    }
    .header_ul > li::after {
        display: none;
    }
    .li-stats {
        margin: 0;
    }
    a {
        color: #000;
    }
    .statistics__container{
        margin-top:120px;
    }
}

@media(max-width:500px){
    .statistics-item__title{
        font-family: 'Rubik Mono One';
        margin-left: 40px;
        font-weight: 400;
        font-size: 25px;
        line-height: 43px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    } 
    .statistics-item{
    display: flex;
    align-items: center;
    column-gap: 2%;
    width: 100%;
    max-width: 900px; 
    
    }
    .statistics__result h3 {
        font-size: 20px;
    }
    .result{
        padding:43px 15px;
    }
    .statistic__score{
        font-size: 40px;
    }
}
