@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
	user-select: none; 
}

body {
    background: #4169E1;
}

.section-title {
    font-size: 30px;
}
.section-one {
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 80px;
}

.section-number {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #000000;
    background: #ffffff;
    padding: 15px 15px;

}

.section-circle-red {
    width: 25px;
    height: 25px;
    background: #690EFF;
    border-radius: 50%;
    border: 0.6px solid #000000;
}

.section-circle-orange {
    width: 25px;
    height: 25px;
    background: #E19164;
    border-radius: 50%;
    border: 0.6px solid #000000;
}

.section-circle-white {
    width: 25px;
    height: 25px;
    background: none;
    border-radius: 50%;
    border: 0.6px solid #000000;
}

.question-number {
    width: 300px;
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.section-number {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
}

/* викторина */
.section-question {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 50px;
    margin-top: 30px;
    width: 560px;
    min-height: 124px;
    background: #FFFFFF;
    border: 2.5px solid #000000;
    box-shadow: 13px 13px 4px rgba(0, 0, 0, 0.7);
    border-radius: 60px;
}

.section-quiz {
    margin-top: 80px;
}

.section-question > h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}

.section-answer {
    margin-top: 60px;
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-one-btn {
    width: 350px;
    min-height: 85px;
    background: #FFFFFF;
    border: 2px solid #000000;
    /* box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5); */
    border-radius: 50px;
    margin-top: 50px;
    /* тект */
    padding: 15px 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    transition: 0.2s;
}
.section-one-btn:hover {
    /* transform: translate(-2.5px, -2.5px); */
    /* box-shadow: 9px 9px 0px 2px rgba(0, 0, 0, 0.2); */
    background: rgba(255, 255, 255, 0.74);
    cursor: pointer;
}

.section-one-btn.right {
    color: #FFFFFF;
    background-color: rgb(38, 239, 38);
}

.section-one-btn.wrong {
    color: #FFFFFF;
    background-color: rgb(255, 43, 43);
}

.section-one-btn.disabled {
    pointer-events: none;
}

.section-one-btn:active {
    color: rgb(0, 0, 0);
}

.tracker {
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.tracker div {
    width: 20px;
    height: 20px;
    background: rgb(194, 194, 194);
    border-radius: 50%;
    display: none;
}

.tracker div.wrong {
    background-color: rgb(255, 43, 43);
}

.tracker div.right {
    background-color: rgb(38, 239, 38);
}

.button {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-next {
    width: 250px;
    height: 65px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 800;
    background-color: coral;
    border: 1.8px solid black;
    color: white;
    transition: 0.2s;
}
#btn-next:hover{
   background: rgba(255, 127, 80, 0.755);
}

/* modal */

/* заметка */
.quiz-over-modal {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out 0s;
    opacity: 1;
    visibility: hidden;
}

.quiz-over-modal.active {
    opacity: 1;
    visibility: visible;
}

.quiz-over-modal.active .content {
    transition: all 0.8s ease 0.2s;
    transform: scale(1) perspective(600px) translate(0px, 0%) rotateX(0deg);
}
#btn-try-again{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background:#74abc7;
    color: white;
    border: none;
    box-shadow: 6px 5px 8px 0px rgba(34, 60, 80, 0.2);
    font-size: 18px;
    
    transition: 0.2s;
}

#btn-main-menu{
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    background:#74abc7;
    color: white;
    border: none;
    box-shadow: 6px 5px 8px 0px rgba(34, 60, 80, 0.2);
    transition: 0.2s;
}

#btn-main-menu:hover{
    background:rgba(129, 183, 210, 0.836)
}

#btn-try-again:hover{
    background:rgba(129, 183, 210, 0.836)
}

.content {
    max-width: 550px;
    width: 100%;
    height: 320px;
    background: #97f0a0;
    border-radius: 20px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    transform: scale(0) perspective(600px) translate(0px, -100%) rotate(45deg);
    transition: all 0.8s ease 0s;
}
.content > h1 {
    font-size: 45px;
}
.quiz-over-modal__title{
    font-size: 20px;
}

@media (max-width: 868px) {
    .section-quiz {
        margin-top: 70px;
    }

    .section-question > h3 {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
    }

    .section-one-btn {
        width: 300px;
        height: 70px;
        margin-top: 40px;
        /* тект */
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        color: #000000;
    }
}

@media (max-width: 770px) {
    .section-quiz {
        margin-top: 60px;
    }

    .section-one-btn {
        width: 350px;
        height: 80px;
        margin-top: 25px;
        /* тект */
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        color: #000000;
    }

    .section-answer {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 15px;
    }

    .section-question {
        margin: auto;
        padding: 25px 20px;
        margin-top: 30px;
        width: 470px;
        height: 110px;
    }

    .section-question > h3 {
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        color: #000000;
    }

    .container {
        padding: 0px 20px;
    }

}

@media (max-width: 500px) {
    .section-quiz {
        margin-top: 25px;
    }

    .section-title {
        font-size: 20px;
    }

    .container {
        padding: 0px 5px;
    }

    .section-question {
        margin: auto;
        padding: 15px 20px;
        margin-top: 10px;
        width: 350px;
        height: 90px;
        box-shadow: 8px 7px 4px rgba(0, 0, 0, 0.7);
    }

    .section-question > h3 {
        font-weight: bolder;
        font-size: 18px;
        line-height: 19px;
        color: #000000;
        font-weight: bolder;
    }

    .section-one-btn {
        width: 330px;
        height: 70px;
        margin-top: 15px;
        /* тект */
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
    }
}